.movies-list-container {
  display: grid;
  gap: 1rem;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--pink-color);
  border-radius: 20px;
}

.movie-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.movie-buttons-pink {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.movie-button {
  background: var(--pink-color);
}

@media (max-width: 768px) {
  .movies-list-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .movie-item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .movie-title {
    order: -1;
  }

  .movie-img {
    margin: 0 auto;
  }

  .movie-buttons {
    justify-content: center;
  }
}
