.container {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  justify-content: center;
  margin-right: 10%;
  line-height: 1.2;
}

.rectangle {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  width: 996px;
  height: 180px;
  font-size: 18px;
  color: white;
  line-height: 1.3;
}

.rectangle p {
  margin: 0;
  padding: 0;
}

.rectangle p + p {
  margin-top: 8px; /* Justera detta värde (5px, 10px, etc.) */
}

.rectangle:hover {
  background-color: var(--pink-color);
  font-size: 18px;
}

.img {
  width: 250px;
  height: 160px;
  object-fit: contain;
  border-radius: 6px;
}

@media (max-width: 600px) {
  .rectangle {
    flex-direction: column; /* Bild över text */
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding: 10px;
  }

  .img {
    width: 100%; /* Bilden blir lagom på mobil */
    height: auto;
  }
}
