* {
    box-sizing: border-box;
}
.container{
    display: flex;
    background-color: var(--darkblue-color);
    width: fit-content;
    height: fit-content;
}

.rectangle{
    display: flex;
    justify-content: flex-end;
    height:180px;
    width: 50vh;
    background-color: var(--darkblue-color);
    font-size: 18px;
}
.rectangle:hover{
    background-color: var(--pink-color);
    font-size: 18px;
}

.img{
    width: 273px;
    height: 180px;
}

@media (max-width: 425px){
    .container{ flex-direction: column;}
}

.box-c img{

width: 40px;
height: 40px;
}