* {
    box-sizing: border-box;
    
}
.container{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    align-items: center;
   
}





.right{
    
    flex: 1;
    
}

.left img{
    width: 200px;
    height: auto;
   
     
}

@media (max-width: 425px){
    .container{ flex-direction: column;
                
    }
}


@media (max-width: 425px){
    
    .img{
    
    width: 100px;
    height: 150px;
    }
    
}
