.container{
    display: flex;
    box-sizing: border-box;
    background-color: var(--darkblue-color);
    width: fit-content;
    height: fit-content;
}

.rectangle{
    height:180px;
    width: 996px;
    background-color: var(--darkblue-color);
    font-size: 18px;
}
.rectangle:hover{
    background-color: var(--pink-color);
    font-size: 18px;
}

.img{
    width: 273px;
    height: 180px;
}

@media (max-width: 425px){
    .container{ flex-direction: column;}
}