:root {
  --background-color: #030218;
  --darkblue-color: #1e0359;
  --text-color: #d9d9d9;
  --accent-color: #1cadf6;
  --pink-color: #ed57f9;
  --blue-color: #575fe9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: "Michroma", sans-serif;
  overflow-x: hidden;
  color: var(--text-color);
}

.starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.star {
  position: absolute;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

img {
  height: 100px;
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar img {
  height: 250px;
  width: 500px;
  display: flex;
}

.footer-list a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-list a:hover {
  color: var(--pink-color);
}

.footer-bar {
  display: flex;
  justify-content: end;
  margin: 1.5em;
}

.title-footer {
  font-size: 1.5em;
  color: var(--text-color);
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

.moving-image {
  position: relative;
  animation: moveRight 13s linear infinite;
}

@keyframes moveRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
